@import '../../../assets/colors';
@import '../../../assets/styles';
@import '../../../assets/measures';
.email-container {
    width: 58rem;
    @media screen and (min-width: 769px) {
        height: 10rem;
    }
    @media screen and (max-width: 768px) {
        height: 14rem;
    }
    background-image: url('../../../assets/Images/email-background.png');
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}