@import '../../assets/colors';
@import '../../assets/measures';
@import '../../assets/styles';
.whyus-intro-title {
    color: $primaryColor;
    font-weight: $fontWeightMedium;
    font-size: $textSmallMedium;
    font-weight: bold;
    text-align: left;
}
.whyus-intro-description {
    color: $textColor;
    font-size: $textLarge;
    text-align: left;
}
.whyus-container {
    @media screen and (max-width: 1024px) {
        padding-bottom: $paddingResponsive * 1.4;
    }
    @media screen and (min-width: 1025px) {
        padding-bottom: $paddingResponsive * 5;
    }
}
    .whyus-container {
}
.whyus-intro-container {
    padding-bottom: $paddingHuge
}