@import '../../../assets/colors';
@import '../../../assets/styles';
@import '../../../assets/measures';

.introduction-web-text {
    color: $textColor;
    font-size: $textHuge;
}
.introduction-mobile-text{
    color: $textColor;
    font-size: $textLarge;
    text-align: center;
    margin: $marginSmall;
}